* {
  color: #f30a3f;
  background-color: #725ef7;
}

.btn-container {
  width: 300px;
  margin: 0 auto;
}

.rps-btn {
  height: 90px;
  width: 90px;
  background-color: white;
}

.results-view {
  width: 300px;
  background-color: white;
  margin: 10 auto;
}
